/*--------------------*\
  MENU
\*--------------------*/

  @media(min-width: 992px) {

    .menu {
      margin: 0 auto;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
  
      width: 400px;
      padding: 0px;
      border-right: 1px solid #eee;
  
      background-color: #fbfbfb;
    }
  
    .menu__item {
      margin: 0 auto;
      display: block;
      line-height: 3;
    }

    .button {
        width: 400px;
    }
  }
  @media(max-width: 991px) {
    .menu {
      display: none;
    }
  }