<div class="container">

  <nav class="navbar">
    <a href="javascript:;" class="navbar-toggle" (click)='menuToggle();'>
      <i class="pi pi-bars"></i>
    </a>

    <a href="#" class="logo">
      <img alt="logo" src="https://3.bp.blogspot.com/-eGR_jPqRZBA/Wet2lxJydQI/AAAAAAAAADw/8J-n3JDrWHI27kDajGcHr8rmGi3xpCeNQCLcBGAs/s1600/megasena_logo.png">
    </a>
  </nav>

  <div class="content">
    Conteudo
  </div>


  <div [ngClass]="{ 'menu': true, 'active': exibindoMenu}">
    <app-menu></app-menu>
  </div>

</div>
