<div class="container">

  <div class="layout-topbar">
    <a href="#" class="menu-button">
      <i class="pi pi-bars"></i>
    </a>

    <a href="#" class="logo">
      <img alt="logo" src="https://3.bp.blogspot.com/-eGR_jPqRZBA/Wet2lxJydQI/AAAAAAAAADw/8J-n3JDrWHI27kDajGcHr8rmGi3xpCeNQCLcBGAs/s1600/megasena_logo.png">
    </a>

    <ul class="topbar-menu">
      <li>
        <a href="#" class="menu">Menu</a>
      </li>
    </ul>
  </div>

  <app-menu></app-menu>

  <div class="layout-content">
    <div class="content">
      Conteudo
    </div>
  </div>

</div>
