.container {
   width: 100%;
   height: 100px;
 }

 .navbar {
  background-color: #20272a;
  height: 70px;
  box-sizing: border-box;
  width: 100%;
  box-shadow: 0 5px 5px 0 rgba(0,0,0,.3);
  top: 0;
  position: fixed;
 }

 .content {
  background-color: beige;
  box-sizing: border-box;
  top: 0;
  bottom: 0;
  width: calc(100% - 290px);
  margin-left: 290px;
  margin-top: 70px;
  padding: 20px;
  padding-left: 40px;
  position: fixed;
 }

 .content-results {
   border: 1px solid lightgray;
   height: 100%;
   width: 100%;
 }

 .navbar-toggle {
  display: none;
  color:#fff;
  font-size: 24px;
  position: absolute;
  left: 0;
  top: 0;
  width: 60px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  /* -webkit-transition: background-color .2s; */
  transition: background-color .2s;
 }

 .navbar-toggle:hover {
  background-color: #4a4f52;
 }

 .logo {
  margin-left: 45px;
  margin-top: 8px;
  display: inline-block;
 }
 .logo img {
   height: 50px;
 }

 .menu {
  box-sizing: border-box;
  width: 290px;
  top: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  margin-top: 70px;
  overflow: hidden;
  position: fixed;
  border-right: 1px solid #eee;
  /* background-image: url('https://i.pinimg.com/originals/20/da/3e/20da3ed53d1be46cb8e95aeb67e11a64.jpg'); */
  background-color: lightseagreen;
}

 @media(max-width: 64em) {
  .content {
    margin-left: 0;
    padding: 2px;
    width: 100%;
  }

  .content-results {
    font-weight: 10;
  }

  .navbar-toggle {
    display: inline-block;
  }

  .logo {
    margin: 7px 0;
  }

  .navbar {
    text-align: center;
  }

  .menu {
    left: -350px;
    /* -webkit-transition: left .2s; */
    transition: left .2s;
  }

  .menu.active {
    left: 0;
  }
 }
